/* The navbar section starts here */
.navbar{
    padding-top:2vh;
    padding-bottom:2vh;
    background-color: #232323 !important;
}
.navbar-brand{
    color:white!important;
    font-weight: bolder;
    letter-spacing:0.5vh;
    font-family: 'Baloo 2', cursive;
    font-size:2.5vh;
}
.navbar-toggler{
    background-color: white !important;
}
.nav-item{
    padding-left:1vh;
    padding-right: 1vh;
    color:white !important;
}
.nav-link{
    color:white !important;
}
.btn{
    padding-left:2.5vh;
    padding-right:2.5vh;
    padding-bottom: 1vh;
    padding-top: 1vh;
    font-family: 'Baloo 2', cursive;
    color:white;
    background-color: #001f92;
    border-radius: 1vh;

}
/* The navbar section ends here */

.first{
    padding-top:10vh;
    padding-bottom:10vh;
}
.color{
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

}
#lottie{
    height:50vh;
    width: 70vh;
}
.png{
    height:6vh;
    width:6vh;
}
.brand{
    padding-top:8vh;
    padding-bottom: 3vh;
    letter-spacing:0.4vh;
    font-size: 5.5vh;
    color:rgb(56, 102, 235);
    font-family: 'Baloo 2', cursive;
}
.brand-pro{
    padding-bottom:3vh;
    letter-spacing: 0.3vh;
    font-size:2.8vh;
    font-family: 'Baloo 2', cursive;
}
.png1{
    height:4vh;
    width:4vh;
}
.second{
    padding-bottom:7vh;
    background-color: #f1f4f8;
}
.heading{
    padding-top:8vh;
    padding-bottom:5vh;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 0.3vh;
    font-size:2.5vh;
    font-weight: bold;
}
.content{
    padding-top:3vh;
    padding-bottom: 3vh;
    font-family: 'Baloo 2', cursive;
    letter-spacing: 0.3vh;
    font-size: 1.9vh;
}
.ceo{
    border-radius: 100vh;
    height:25vh;
    width:25vh;
}
.pad{
    padding-top:3vh;
    padding-bottom:5vh;
}
.line{
    border-right:1px solid;
}
.four{
    padding-bottom:5vh;
    background-color: #f1f4f8;
}
.jpg-big{
    height:20vw;
    width:33vw;
    max-width:100%;
    object-fit:cover;
}
.jpg-small{
    height:14vw;
    width:17vw;
    max-width: 100%;
    object-fit: cover;
}
.padd{
    padding:0.5vh;
}
.fifth{
    padding-bottom: 5vh;
}
.form{
    margin: 0vh;
    width:40vh;
    background-color: #f1f4f8;
    padding-bottom: 2vh;
    border-radius: 0.5vh;
}
.input{
    border:0px;
    border-bottom: 1px solid #b9c1c9;
    width: 35vh;
    height: 4vh;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 0.3vh;
}
.input1{
    border:0px;
    border-bottom: 1px solid #b9c1c9;
    width: 35vh;
    height: 10vh;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 0.3vh;
    padding-top: 0.7vh;
}
.jpg{
    width:40vh;
    height:25vh;
    border-radius: 0.5vh;
}
.img{
    height:22vh;
    width:18rem;
}
.foot{
    background-color:#2b354f;
    color:white;
    padding-top:15vh;
    padding-bottom: 15vh;
}
.foot-text{
    font-family: 'Quicksand', sans-serif;
    letter-spacing:0.3vh;
    border-right: 1px solid white;
    border-left: 1px solid white;
    font-size: 1.5vh;
}
.foot-text1{
    padding-top: 2vh;
    color:#57BB96;
    font-size: 2.3vh;
}
.foot-text2{
    font-size:1.6vh;
    padding-top: 3vh;
    color:white;
    padding-bottom: 5vh;
}
.back{
    background: url("brand.png");
    height:20vw;
    width:33vw;
    background-position: center;
    background-size: cover;
}
.certificate{
    height: auto;
    width: 45vw;
}


@media only screen and (max-width: 600px) {
   .first{
       padding-top:0px;
       padding-bottom: 3vh;
       text-align: center;
   }
   .brand{
       padding-top:5vh;
   }
   .jpg-small{
    height:30vw;
    width:60vw;
    max-width:100%;
    object-fit:cover;
    }
    .jpg-big{
        height:30vw;
        width:60vw;
        max-width:100%;
        object-fit:cover;
    }
    .certificate{
        height:auto;
        width:80vw;
    }
  }